<!DOCTYPE html>
<html class="html-loading">
  <%- partial('_partial/head',{cache: true}) %>
  <body>
    <div id="blog">
      <%- partial('_partial/nav') %>
      <!--main-->
      <main><%- body %></main>

      <!--footer-->
      <%- partial('_partial/footer-after',{cache: true}) %>
    </div>
  </body>
</html>
