<!DOCTYPE html>
<html class="html-loading">
  <%- partial('_partial/head',{cache: true}) %>
  <body>
    <!--main-->
    <main><%- body %></main>

    <!--footer-->
    <%- partial('_partial/footer-after',{cache: true}) %>
  </body>
</html>
